body{
    text-align: center;
    background-color: rgb(237, 245, 245);
    font-family: 'Poppins', sans-serif;

}

#form{
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    border-radius: 4px;
    width:50%;
    margin-left: 25%;
    padding: 10px;
    border-radius: 24px;
    background: linear-gradient(120deg,#f5e6d2,#a39579 100%);
}

.form-control{
    font-family: poppins;
    font-size: 24px;
    color: rgb(27, 25, 25);
}

.form-control input{
    font-family: poppins;
    font-size: 24px;
    color: rgb(27, 25, 25);
}

h1{
    color: rgba(118, 88, 46, 0.989);
    font-family: poppins;
    font-size: 400%;
}

#form h3{
    font-size: 200%;
    text-align: center;
    color: rgb(169, 145, 83);
}

#form img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

#submit {
    width: auto;
    display: inline;
    border: 1px solid #7a7373;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px;
    font-family: poppins;
    font-size: 24px;
}

.input-control input {
    font-family: poppins;
    font-size: 24px;
    color: rgb(27, 25, 25);
}

.input-control {
    font-family: poppins;
    font-size: 24px;
    color: rgb(27, 25, 25);
}

.input-control input: focus {
    outline:0
}
.input-control.success input{
    border-color: #09c372
}
.input-control.error input{
    border-color: #ff3860;
}
.input-control .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

/* form{
    font-family: poppins;
    font-size: 24px;
    color: rgb(27, 25, 25);
}
div {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    border-radius: 24px;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 12px;
    background: linear-gradient(120deg,#f5e6d2,#a39579 100%);
}
input[type="text"]{
    width: auto;
    display: inline;
    border: 1px solid #7a7373;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px;
}

span {
    top: 100%;
    left: 2px;
    font-size: 16px;
    font-weight: 400;
    color: red;
}

input[type="password"]{
    width: auto;
    display: inline;
    border: 1px solid #7a7373;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    margin: 8px;
} */

